<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
   
    <link rel="stylesheet" href="resources/css/style2.css">
    <link  rel="stylesheet" href="resources/css/ventanas.css" >
    <link rel="icon" href="resources/images/Z_Partidos.png">

    <title> PUNTOS </title>
</head>
<body>

  <% if (login  & Nivel==1) { %>  
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/participantes">Participantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/puntosC">Puntos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/quinielaC">Quiniela</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partidos">Partidos</a>
            </li>


            </ul>
          </div>
        </div>
      </nav>

      <div class="flex-container-tit">
        <div class="flex-titulo">   
          <div class="cat">
            <img src="resources/images/Z_Partidos.png" />               
          </div>
        </div>

        <div id="header" class="flex-titulo">   
            <h1>  PUNTOS </h1>     <%= Alias %>
        </div>
    </div>
    <br>
      <div class="flex-container">
      <div class="container">
        <a href="/createp" class="btn btn-primary mt-4"><i class="fas fa-plus-square"></i></a>    
      <table id="puntos" class="table table-bordered table-striped text-center mt-4">
        <thead>
          <tr class="text-white" style="background-color:#6200ee;">
            <th scope="col">ID</th>
            <th scope="col">PARTICIPANTE</th>
            <th scope="col">PARTIDO</th>
            <th scope="col">TOTAL</th>  
            <th scope="col">GOL LOCAL</th>
            <th scope="col">GOL VISITANTE</th>               
            <th scope="col">PUNTOS LOCAL</th>   
            <th scope="col">PUNTOS EMPATE</th>    
            <th scope="col">PUNTOS VISITA</th>
            <th scope="col">CANDADO</th>
            <th scope="col">FOLDER</th>
            <th scope="col">FECHA</th>
            <th scope="col">ACCIONES</th>            
          </tr>
        </thead>
      </tr>
    </thead>
    <tfoot>
      <tr class="text-white" style="background-color:#6200ee;">
        <th scope="col">ID</th>
        <th scope="col">PARTICIPANTE</th>
        <th scope="col">PARTIDO</th>
        <th scope="col">TOTAL</th>  
        <th scope="col">GOL LOCAL</th>
        <th scope="col">GOL VISITANTE</th>               
        <th scope="col">PUNTOS LOCAL</th>   
        <th scope="col">PUNTOS EMPATE</th>    
        <th scope="col">PUNTOS VISITA</th>
        <th scope="col">CANDADO</th>
        <th scope="col">FOLDER</th>
        <th scope="col">FECHA</th>
        <th scope="col">ACCIONES</th>     
      </tr>
    </tfoot>
  </table>  
</div>
</div>

<%} else { %>
  <h1><strong><%= Alias %></strong></h1>   
  <a href="acceso" class="a-login">Ir a Login</a>
<% } %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>        
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
  <script> 

  $('#puntos').DataTable({    
    ajax: {
        url: "/puntos_data",
        dataSrc: ""
    },   
    columns: [ 
        {"data": "Id"},      
        {'data': 'Id_participante'}, 
        {'data': 'Id_partido'}, 
        {'data': 'Total'},  
        {'data': 'Local'},
        {'data': 'Visitante'},    
        {'data': 'Puntos_local'},      
        {'data': 'Puntos_empate'},   
        {'data': 'Puntos_visita'},
        {'data': 'Candado'},
        {'data': 'Id_folder'}, 
        {'data': 'Fecha'}, 
        {"data": null,
            "render": function (puntos_dat) { 
                return '<a href="/puntos_edit/'+puntos_dat.Id+ '"class="btn btn-info"><i class="fas fa-edit"></i></a>'
               // <a onclick="confirmar('+data.Id+')" class="btn btn-danger"><i class="fas fa-trash-alt">
                }
        }
    ],
    pageLength : 20,
    responsive: true,
    language: {
            url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json',
        },
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 


  function confirmar(id) {
    Swal.fire({
        title: '¿Confirma eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/deletep/'+id;                              
        }
    });
  };
  </script>

</script>

</body>
</html>